*{
     padding: 0px;
     margin: 0px;
}
body{
     /* background-image: linear-gradient(to bottom left , #5c00ab , #ff03d4); */
/* background-image: url('./bg.jpg'); */
min-height: 100vh;
background-size: 100vw 100vh;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
}

#score{
     color: #fff;
     padding-top:10px;
     text-align: center;
     background-color: #545050de;
     filter: drop-shadow(4px 5px 3px grey);
     text-transform: capitalize;
     font-size: 20px;
     position: absolute;
     font-family: 'Arvo', serif;
     width: 200px;
     height: 40px;
     top: 95px;
     right: 150px;
}
#High_score{
     color: #fff;
     padding-top:10px;
     text-align: center;
     background-color: #545050de;
     filter: drop-shadow(4px 5px 3px grey);
     text-transform: capitalize;
     font-size: 20px;
     position: absolute;
     font-family: 'Arvo', serif;
     width: 200px;
     height: 40px;
     top: 160px;
     right: 150px;
   
}


#reset_highScore{
     border-style:none;
     border-radius: 3px;
     background-color: #545050de;
     filter: drop-shadow(4px 5px 3px grey);
     text-transform: capitalize;
     width: 200px;
     height: 50px;
     color: #fff;
     top: 230px;
     right: 150px;
     position: absolute;
     font-size: 20px;
     font-family: 'Arvo', serif;
}
#reset_highScore:hover{
     background-color: #483f3fde;
}

#Speed{
     text-align: center;
     right: 150px;
     width: 200px;
     height: 50px;
     background-color: #483f3fde;
     top: 30px;
     position: absolute;
     color: white;
     font-size: 20px;
     border: none;
}
#speed:hover{
     background-color: #545050de;
}
::placeholder{
     color: white;
     font-size: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


#board{
     background-image: linear-gradient(to bottom right , #00d9d9 , #345999);
     border-radius:5px ;
     filter: drop-shadow(16px 16px 10px grey);
     height: 90vmin;
     width: 90vmin;
     /* border: 2px solid black; */
     display: grid;
     grid-template-rows: repeat(18,1fr);
     grid-template-columns: repeat(18,1fr);
     background-color: white;
}

.head{
     transform: scale(1.5);
     border-radius: 50%;
     background-image: url('./images-cutout.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
}
.food{
     transform: scale(1.5);
     border-radius: 10px;
    background-image: url('./download\ \(6\)-cutout.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.snake{
     transform: scale(1.1);
     border-radius: 50%;
    background-image: url('./download\ \(6\)-cutout.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.gameOver{
     
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-image: url('./game_over.png');
}